div.header2 h1 {
    text-align: center;
    width: 85%;
    margin-bottom: 15px;
    margin: 0;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    width: 85%;
}

input {
    border: 1px solid gray;
    height: 32px;
    margin-bottom: 18px;
    font-size: 18px;
}

div label {
    margin-top: 18px;
    height: 14px;
}

div label input {
    height: 14px;
}

div input {
    height: 14px;
}

p {
    margin-bottom: 6px;
}

button {
    height: 52px;
    width: 102px;
    background-color: #4E87D5;
    color: white;
    font-size: 22px;
    margin-bottom: 300px;
    border-radius: 6px;
    border: none;
    align-self: center;
    cursor: pointer;
}